.review-wrapper {
  max-width: 760px;
  margin: 0 auto; 
  padding: 36px;
  /* background: #ffffff; */
  border-radius: 12px;
  /* box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08); */
  font-family: "Inter", sans-serif;
}
.pHeader{
    display: flex;
    flex-direction: column;
  align-items: center;
}

.review-wrapper h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 28px;
}

.review-section {
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 22px;
  background: #f9fafb;
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.section-header h3 {
  font-size: 16px;
  font-weight: 600;
}

.edit-link {
  font-size: 14px;
  color: #2563eb;
  cursor: pointer;
}

.review-item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding: 6px 0;
}

.review-item span {
  color: #6b7280;
}

.review-item strong {
  color: #111827;
}

.success {
  color: #16a34a;
}

.warning {
  color: #dc2626;
}

.submit-btn {
  width: 30%;
  padding: 14px;
  background: #16a34a;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:hover {
  background: #15803d;
}
