.upload-wrapper {
  max-width: 700px;
  margin: 60px auto;
  padding: 36px;
  /* background: #ffffff; */
  border-radius: 12px;
  /* box-shadow: 0 12px 30px rgba(0, 0, 0, 0.08); */
  font-family: "Inter", sans-serif;
}

.upload-wrapper h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 24px;
}

.upload-field {
  margin-bottom: 22px;
}

.upload-field label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 6px;
  display: block;
}

.required {
  color: #dc2626;
}

.upload-box {
  position: relative;
  border: 2px dashed #d1d5db;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  background: #f9fafb;
}

.upload-box input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.upload-box span {
  font-size: 14px;
  color: #374151;
}

.upload-field small {
  display: block;
  margin-top: 6px;
  font-size: 12px;
  color: #6b7280;
}

.submit-btn {
  width: 100%;
  padding: 14px;
  background: #2563eb;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.submit-btn:disabled {
  background: #c7d2fe;
  cursor: not-allowed;
}
